@charset "UTF-8";
article, aside,
details, figcaption, figure,
footer, header, hgroup, main,
nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
}

a {
  background: transparent;
}

a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
	Typography
========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* ==========================================================================
	Embedded content
========================================================================== */
img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
	Figures
========================================================================== */
figure {
  margin: 0;
}

/* ==========================================================================
	Forms
========================================================================== */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button, input, select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

iframe {
  border: none;
  outline: none;
}

.inline-block-SpaceClear, #works figure, #workflow, #about, #service {
  letter-spacing: -.40em;
}

.inline-block-SpaceNormal, #works figure img, #workflow h1, #workflow p, #workflow div, #about div, #about h1, #about p, .service__one,
.service__second,
.service__third,
.service__force,
.service__1,
.service__2,
.service__3,
.service__4, .spaceRight, .spaceDesc {
  letter-spacing: normal;
}

.cl1, .service__one,
.service__1, .service__second li:nth-of-type(1),
.service__2 li:nth-of-type(1), .service__third li:nth-of-type(1),
.service__3 li:nth-of-type(1), .service__force li:nth-of-type(1),
.service__4 li:nth-of-type(1) {
  background: #f1f1f1;
  cursor: pointer;
}

.cl2, .service__one li:nth-of-type(1),
.service__1 li:nth-of-type(1), .service__second,
.service__2, .service__third li:nth-of-type(2),
.service__3 li:nth-of-type(2), .service__force li:nth-of-type(2),
.service__4 li:nth-of-type(2) {
  background: #302e2f;
  color: #FFF;
  cursor: pointer;
}

.cl3, .service__one li:nth-of-type(2),
.service__1 li:nth-of-type(2), .service__second li:nth-of-type(2),
.service__2 li:nth-of-type(2), .service__third,
.service__3, .service__force li:nth-of-type(3),
.service__4 li:nth-of-type(3) {
  background: #709eab;
  cursor: pointer;
}

.cl4, .service__one li:nth-of-type(3),
.service__1 li:nth-of-type(3), .service__second li:nth-of-type(3),
.service__2 li:nth-of-type(3), .service__third li:nth-of-type(3),
.service__3 li:nth-of-type(3), .service__force,
.service__4 {
  background: #ebb8d5;
  cursor: pointer;
}

.cc1, .service__one p,
.service__1 p {
  background: #5e689b;
}

.cc2, .service__second p,
.service__2 p {
  background: #808a8c;
}

.cc3, .service__third p,
.service__3 p {
  background: #d7d2d8;
  background: #607d8b;
  background: #4c636e;
}

.cc4, .service__force p,
.service__4 p {
  background: #88babb;
  background: #4f3243;
  background: #d13b7b;
  background: #808080;
  background: #766;
  background: #6e605d;
}

.w25, .service__one,
.service__second,
.service__third,
.service__force,
.service__1,
.service__2,
.service__3,
.service__4 {
  width: 25%;
}

.w75, .spaceDesc {
  width: 75%;
}

.w33 {
  width: 33%;
}

.w34 {
  width: 34%;
}

.serviceDiv, .service__one,
.service__second,
.service__third,
.service__force,
.service__1,
.service__2,
.service__3,
.service__4, .spaceDesc {
  margin: 0;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}

.circleIcon, .service__one p,
.service__second p,
.service__third p,
.service__force p,
.service__1 p,
.service__2 p,
.service__3 p,
.service__4 p {
  display: block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  background: #FFF;
  color: #333;
  font-family: "Hiragino Kaku Gothic Pro", "HiraKakuPro-W6", "HiraMaruPro-W4", "Kozuka Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "Noto Sans Japanese", "Noto Sans", sans-serif;
  font-size: 100%;
}

a {
  text-decoration: none;
  color: #5CC3F6;
}

a:hover, a:active, a:focus {
  color: #5CC3F6;
}

#particles-js {
  position: relative;
  text-align: center;
  width: 100%;
  min-height: 100%;
  background-color: #fff;
  background-size: cover;
  background-position: 50% 50%;
  background-position: top center;
  background-repeat: no-repeat;
}

#main {
  width: 100%;
  display: block;
  margin: 0 auto;
  text-align: left;
}

#main h1 {
  margin-top: 120px;
  margin-bottom: 60px;
  font-family: "Orbitron", "Verdana", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 3em;
  text-transform: uppercase;
  text-align: center;
  font-weight: normal;
}

footer {
  font-family: "Orbitron", "Verdana", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  background: #f6f6f6;
  position: relative;
  font-size: 86%;
  margin: 100px 0 0 0;
  height: 400px;
  height: 360px;
  color: #666;
}

footer div {
  text-align: center;
  padding-top: 100px;
  margin-bottom: 100px;
  line-height: 1.6rem;
}

footer h1 {
  font-size: 1em;
}

footer p {
  text-align: center;
}

#pagetop {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

#pagetop .fa {
  font-size: 22px;
  transform: rotate(-90deg);
}

#pagetop a {
  color: #fff;
  background: #999;
  width: 40px;
  height: 40px;
  display: block;
  padding-top: 6px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

#pagetop a:hover {
  background: #333;
}

#pagetop a:active {
  background: #666;
}

header {
  margin: 0 auto;
  text-align: center;
  font-family: "Orbitron", "Verdana", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
}

header h1 {
  margin: 0 0 60px 0;
  text-transform: uppercase;
  font-size: 286%;
}

header p {
  margin: 0 0 40px 0;
  text-transform: uppercase;
  font-size: 286%;
  font-weight: bold;
  padding: 0.4em 0;
}

header nav {
  text-align: center;
  height: 70px;
  font-size: 86%;
  background: rgba(255, 255, 255, 0.7);
}

header nav li:first-child {
  margin-top: -10px;
  text-indent: -4000em;
}

header nav li:first-child a {
  display: block;
  width: 34px;
  height: 34px;
  background: url(../img/nav-logo.gif);
  background-size: cover;
}

header nav li:first-child a:hover {
  border: none;
  background: url(../img/nav-ov-logo.gif);
  background-size: cover;
}

header nav ul {
  display: flex;
  width: 680px;
  justify-content: space-between;
  margin: 0 auto;
  padding: 2rem 0 0 0;
  padding: 30px 0 0 0;
  text-transform: uppercase;
  line-height: 1.0;
}

header nav li {
  list-style: none;
  text-align: center;
  text-wrap: none;
}

.fixednav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #FFF;
  filter: alpha(opacity=90);
  -moz-opacity: 0.9;
  opacity: 0.9;
  z-index: 100;
}

#works div:nth-of-type(1) {
  background: #6e605d;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
}

#works div:nth-of-type(1) a {
  text-decoration: none;
  color: #FFF;
  font-family: Verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 115%;
}

#works div:nth-of-type(1) a:hover, #works div:nth-of-type(1) a:active, #works div:nth-of-type(1) a:focus {
  color: #FFF;
  text-decoration: underline;
}

#works figure {
  vertical-align: top;
  display: block;
  margin: 0 auto;
}

#works figure img {
  letter-spacing: normal;
  margin: 0 10px 20px 10px;
  border: 1px solid #ccc;
}

#workflow {
  margin: 0 auto;
}

#workflow p {
  font-size: 115%;
}

#workflow p .fa {
  color: #a2a2a2;
  font-size: 22px;
  margin-top: 40px;
  transform: rotate(90deg);
}

#workflow div {
  display: inline-block;
  vertical-align: top;
}

#workflow div p:nth-last-of-type(1) {
  text-align: center;
}

#workflow div:nth-of-type(odd) {
  text-align: center;
}

#workflow div:nth-of-type(odd) .fa {
  font-size: 400%;
  color: #a2a2a2;
  padding-top: 3rem;
}

#about h1 {
  padding-bottom: 50px;
}

#about p {
  margin: 0 auto 1.5rem auto;
  font-size: 115%;
}

#about p:nth-of-type(2) {
  margin-bottom: 80px;
}

#about dl {
  line-height: 160%;
}

.about__left, .about__right {
  height: 500px;
  vertical-align: top;
}

.about__left {
  position: relative;
  background: #545454;
  color: #fcfcfc;
}

.about__left p {
  font-size: 79%;
  line-height: 0;
  position: absolute;
  left: 20px;
  bottom: 0px;
}

.about__right {
  background: #3399cc;
  color: #fff;
}

#map {
  width: 100%;
  height: 500px;
  outline: 0;
}

#service {
  width: 100%;
  position: relative;
}

#service h1, #service h2, #service h3, #service p {
  letter-spacing: normal;
}

#service h2 {
  font-weight: normal;
}

.service__main {
  width: 100%;
}

.service__main h2, .service__main h3 {
  font-family: Verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.service__one,
.service__second,
.service__third,
.service__force,
.service__1,
.service__2,
.service__3,
.service__4 {
  text-align: center;
  position: relative;
}

.service__one p,
.service__second p,
.service__third p,
.service__force p,
.service__1 p,
.service__2 p,
.service__3 p,
.service__4 p {
  margin: 50px auto 0;
  width: 8rem;
  height: 8rem;
  padding-top: 1.5rem;
  text-align: center;
}

.service__one p .fa,
.service__second p .fa,
.service__third p .fa,
.service__force p .fa,
.service__1 p .fa,
.service__2 p .fa,
.service__3 p .fa,
.service__4 p .fa {
  font-size: 5rem;
  color: #FFF;
}

.service__one ul,
.service__second ul,
.service__third ul,
.service__force ul,
.service__1 ul,
.service__2 ul,
.service__3 ul,
.service__4 ul {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 150px;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.service__one ul li,
.service__second ul li,
.service__third ul li,
.service__force ul li,
.service__1 ul li,
.service__2 ul li,
.service__3 ul li,
.service__4 ul li {
  color: #FFF;
  vertical-align: middle;
  vertical-align: bottom;
}

.service__one ul li .fa,
.service__second ul li .fa,
.service__third ul li .fa,
.service__force ul li .fa,
.service__1 ul li .fa,
.service__2 ul li .fa,
.service__3 ul li .fa,
.service__4 ul li .fa {
  font-size: 314%;
  color: #FFF;
  padding-top: 4rem;
}

.service__second li:nth-of-type(1) .fa,
.service__2 li:nth-of-type(1) .fa {
  color: #333;
}

.service__third li:nth-of-type(1) .fa,
.service__3 li:nth-of-type(1) .fa {
  color: #333;
}

.service__force li:nth-of-type(1) .fa,
.service__4 li:nth-of-type(1) .fa {
  color: #333;
}

.servic__Pointer--1,
.servic__Pointer--2,
.servic__Pointer--3,
.servic__Pointer--4 {
  width: 100%;
  margin: 0 auto;
}

.spaceRight {
  background: #fcfcfc !important;
  text-align: left;
  display: inline-block;
  vertical-align: top;
  width: 75%;
  min-height: 450px;
  color: #333;
  padding: 40px 50px 0 40px;
}

.spaceRight p {
  width: 100%;
  font-size: 122%;
  line-height: 1.6;
  background: none !important;
}

.spaceDesc {
  background: #fcfcfc !important;
  position: relative;
  text-align: left;
  vertical-align: top;
  max-width: 75%;
  min-height: 450px;
  color: #333;
  padding: 40px 50px 0 40px;
}

.spaceDesc p {
  width: 100%;
  font-size: 122%;
  line-height: 1.6;
  background: none !important;
}

.close {
  font-family: "Orbitron", "Verdana", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  text-align: right;
}

.close a {
  color: #333;
}

#contact p {
  font-size: 115%;
}

#contact form {
  font-size: 115%;
}

#contact form p {
  text-align: center;
  position: relative;
  display: block;
}

#contact dl {
  margin: 40px 0;
}

#contact dt {
  padding-top: 10px;
  vertical-align: top;
}

#contact dt span {
  font-size: 72%;
  color: #f6f6f6;
  background: #e14c68;
  margin-left: 4px;
  border: 2px solid #e14c68;
  border-radius: 4px;
  line-height: 0;
}

.contactCK dd {
  padding-top: 10px;
}

@media screen and (min-width: 980px) {
  #contact dd {
    margin: 0 0 40px 210px;
  }
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  line-height: 1em;
}

input[type=button],
input[type=submit] {
  background: #262626;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  width: 200px;
  padding: 14px 0;
  line-height: 1em;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}

input[type=button]:hover,
input[type=submit]:hover {
  background: #333;
}

input[type=tel],
input[type=email],
input[type=text],
textarea {
  width: 100%;
  background: #f2f2f2;
  padding: 4px;
  border: 4px solid #f3f3f3;
  border-radius: 4px;
}

textarea {
  height: 180px;
}
