#service {
		width: 100%;
		position: relative;
}
#service h1, #service h2, #service h3, #service p {
		letter-spacing: normal;
}
#service h2 {
		font-weight: normal;
}

.service__main {
		width: 100%;
}
.service__main h2, .service__main h3 {
		font-family: Verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.service__one,
.service__second,
.service__third,
.service__force,
.service__1,
.service__2,
.service__3,
.service__4 {
		position: relative;
}
.service__one p,
.service__second p,
.service__third p,
.service__force p,
.service__1 p,
.service__2 p,
.service__3 p,
.service__4 p {
		margin: 50px auto 0;
		width: 8rem;
		height: 8rem;
		padding-top: 1.5rem;
}
.service__one p .fa,
.service__second p .fa,
.service__third p .fa,
.service__force p .fa,
.service__1 p .fa,
.service__2 p .fa,
.service__3 p .fa,
.service__4 p .fa {
		font-size: 5rem;
		color: #FFF;
}
.service__one ul,
.service__second ul,
.service__third ul,
.service__force ul,
.service__1 ul,
.service__2 ul,
.service__3 ul,
.service__4 ul {
		position: absolute;
		margin: 0;
		padding: 0;
		width: 100%;
		height: 150px;
		bottom: 0;
		left: 0;
		display: flex;
		justify-content: space-between;
		list-style: none;
}
.service__one ul li,
.service__second ul li,
.service__third ul li,
.service__force ul li,
.service__1 ul li,
.service__2 ul li,
.service__3 ul li,
.service__4 ul li {
		color: #FFF;
		vertical-align: middle;
		vertical-align: bottom;
}
.service__one ul li .fa,
.service__second ul li .fa,
.service__third ul li .fa,
.service__force ul li .fa,
.service__1 ul li .fa,
.service__2 ul li .fa,
.service__3 ul li .fa,
.service__4 ul li .fa {
		font-size: 314%;
		color: #FFF;
		padding-top: 4rem;
}

.service__second li:nth-of-type(1) .fa,
.service__2 li:nth-of-type(1) .fa {
		color: #333;
}

.service__third li:nth-of-type(1) .fa,
.service__3 li:nth-of-type(1) .fa {
		color: #333;
}

.service__force li:nth-of-type(1) .fa,
.service__4 li:nth-of-type(1) .fa {
		color: #333;
}

.spaceRight {
		position: absolute;
		top: 0;
		left: 0;
		background: #fcfcfc !important;
		text-align: left;
		display: inline-block;
		vertical-align: top;
		width: 75%;
		min-height: 450px;
		color: #333;
		padding: 40px 50px 0 40px;
}
.spaceRight p {
		width: 100%;
		font-size: 122%;
		line-height: 1.6;
		background: none !important;
}

.spaceDesc {
		position: relative;
		background: #fcfcfc !important;
		position: relative;
		text-align: left;
		vertical-align: top;
		max-width: 75%;
		min-height: 450px;
		color: #333;
		padding: 40px 50px 0 40px;
}
.spaceDesc p {
		width: 100%;
		font-size: 122%;
		line-height: 1.6;
		background: none !important;
}

.close {
		font-family: "Orbitron", "Verdana", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
		position: absolute;
		text-align: right;
		bottom: 10px;
		right: 60px;
}
.close a {
		color: #333;
}
