@charset "utf-8";

//* SECTIONS WORKS
//----------------------------------------------------*/
#works {
}

#works {
	div:nth-of-type(1) {
		background: #6e605d;
		//background: #b6a4a0;
		//background: #262831;
		// background: #f9ac2b;
		// background: #5CC3F6;
		// background: #5b6992;
		// background: #282828;
		// background: #f5f5f5;
		//background: #31343f;
		//background: #709eab;
		//background: #88babb;
		text-align: center;
		padding-top: 40px;
		padding-bottom: 20px;


		//* ANCHOR
		a {
			text-decoration: none;
			color: $bgColor;
			font-family: $fontFamilyVer;
			font-size: 115%;

			&:hover, &:active, &:focus {
				color: $bgColor;
				text-decoration: underline;
			}
		}
	}
	figure {
		@extend .inline-block-SpaceClear;
		vertical-align: top;
		display: block;
		margin: 0 auto;

		img {
			@extend .inline-block-SpaceNormal;
			letter-spacing: normal;
			margin: 0 10px 20px 10px;
			border: 1px solid #ccc;
			// -webkit-border-radius: 5px;
			// -moz-border-radius: 5px;
			// border-radius: 10px;
			// -moz-box-shadow: 1px 1px 3px #000;
			// -webkit-box-shadow: 1px 1px 3px #000;
			// box-shadow: 0px 1px 1px rgba(#282828, 0.37);
		}
	}
}

//* SECTIONS WORKFLOW
//----------------------------------------------------*/
#workflow {
	@extend .inline-block-SpaceClear;
	margin: 0 auto;
	h1,p,div {@extend .inline-block-SpaceNormal;}
	p {
		font-size: 115%;
		.fa {
			color: #a2a2a2;
			font-size: 22px;
			margin-top: 40px;
			transform: rotate(90deg);
		}
	}
	div {
		display: inline-block;
		vertical-align: top;
		p:nth-last-of-type(1) {
			text-align: center;
		}
	}
	div:nth-of-type(odd) {
		text-align: center;
		.fa {
		font-size: 400%;//56px
		color: #a2a2a2;
		padding-top: 3rem;
		}
	}
}

//* SECTIONS ABOUT
//----------------------------------------------------*/
#about {
	@extend .inline-block-SpaceClear;
	// display: flex;
	// letter-spacing: -.40em;

	div,h1,p {@extend .inline-block-SpaceNormal;}
	h1 {padding-bottom: 50px;}
	p {
		margin: 0 auto 1.5rem auto;
		font-size: 115%;
	}
	p:nth-of-type(2) {
		margin-bottom: 80px;
	}
	dl {
		line-height: 160%;
	}
}

.about__left,.about__right {
	height: 500px;
	vertical-align: top;
}

.about__left {
	position: relative;
	background: $aboutMapBg;
	color: #fcfcfc;
	p {
		font-size: 79%;
		line-height: 0;
		position: absolute;
		left: 20px;
		bottom: 0px;
	}
}

.about__right {
	background: #3399cc;
	color: #fff;
}

#map {
	width: 100%;
	height: 500px;
	outline: 0;
}
