@charset "utf-8";

//* CIRCLE
//----------------------------------------------------
.service__wrap {
		display: flex;

}
.service__wrap--double {
	min-height: 50vh;
	width: 50%;
	border: 1px solid RED;
	padding: 60px 20px;
}






/*BOXES STYLES*/
.single_box {
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	transition: all 0.2s ease;
	text-align: center;
	margin:30px 0 43px;
	padding: 0px 0 20px;
}
.single_box:hover {}
.single_box img {
	border-radius: 100%;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.single_box [class^="fa"] { font-size: 40px; }
.single_box h3 {
	font-size: 24px;
	margin: 10px 0 14px;
	text-transform: none;
	font-weight: 300;
}
// .single_box h4 {
// 	background: #fff;
// 	border-radius: 4px;
// 	-moz-border-radius: 4px;
// 	-webkit-border-radius: 4px;
// }
.single_box h3 a{ color: inherit; }
.single_box h3 a:hover{ color: #e16657; }
.single_box p.introtext { margin: 10px 0 30px; }

.single_box.tiles [class^="fa"]{
	color: #fff;
	font-size: 60px;
	line-height: 100px;
	width: 100%;
	height: 100px;
	text-align: center;
	display: block;
}

//*style 6*/
.single_box.circle { padding: 0 0 30px; margin: 0; }
.single_box.circle [class^="fa"] {
	font-size: 58px;
	color: #fff;
	display: inline-block;
	width: 120px;
	height: 120px;
	line-height: 120px;
	border-radius: 100%;
}
// .single_box.circle:hover [class^="fa"] {background-color: #21252b;}

.single_box .box { display: inline-block; overflow: hidden; border-radius: 100%; }
.single_box .box.default { background: #01c1c1; }
.single_box .box.pink { background: #d13b7b;}
.single_box .box.red { background: #FF4081; }
.single_box .box.purple { background: #8d55a0; }
.single_box .box.orange { background: #ee7933; }
.single_box .box.blue { background: #7AB5CB;}
.single_box .box.grey { background: #95a5a6; }
.single_box .box.dark { background: #607D8B; }


// .single_box .box.default a:hover,
// .single_box .box.pink a:hover,
// .single_box .box.red a:hover,
// .single_box .box.purple a:hover,
// .single_box .box.orange a:hover,
// .single_box .box.blue a:hover,
// .single_box .box.grey a:hover,
// .single_box .box.dark  a:hover { background: #000; }

.single_box.circle p.introtext {
	margin-bottom: 0;
	text-align: left;
	line-height: 180%;
}
.single_box a { font-weight: 500; margin-top: 10px; display: inline-block; }
.single_box a:hover { color: #21252b; text-decoration: none; }


/*box icon color*/
.c-default,.default { color: #01c1c1; }
.c-pink,.pink { color: #d13b7b; }
.c-red,.red { color: #FF4081; }
.c-purple,.purple { color: #8d55a0; }
.c-orange,.orange { color: #ee7933; }
.c-blue,.blue { color: #7AB5CB; }//#279fba;
.c-grey,.grey { color: #95a5a6; }
.c-dark,.dark-color { color: #607D8B; }

//* COLORS
//----------------------------------------------------
.light-blue { background: #85bbdd; }
.pink { background: #d13b7b; }
.red { background: #ef4a44; }
.purple { background: #8d55a0; }
.orange { background: #ee7933; }
.blue { background: #279fba; }
.grey { background: #95a5a6; }
.dark { background: #21252b; }
.yellow { background: #FFCE54; }


.line {
	display: block;
	width: 120px;
	height: 1px;
	margin: 0px auto 20px auto;
	text-align: center;
}
